<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem   
            name="IECS"  
            id="is_iecs_main_menu" 
            sequence="0"
        />
        <menuitem
            name="Articles"
            id="is_product_template_menu" 
            action="is_product_template_action"  
            parent="is_iecs_main_menu" 
            sequence="10"
        />

        <menuitem
            name="Affaires"
            id="is_affaire_main_menu" 
            parent="is_iecs_main_menu" 
            sequence="15"
        />
        <menuitem
            name="Affaires"
            id="is_affaire_menu" 
            action="is_affaire_action"  
            parent="is_affaire_main_menu" 
            sequence="10"
        />
        <menuitem
            name="Sous-Ensembles"
            id="is_sous_ensemble_menu" 
            action="is_sous_ensemble_action"  
            parent="is_affaire_main_menu" 
            sequence="20"
        />
        <menuitem
            name="Lignes des sous-ensembles"
            id="is_sous_ensemble_line_menu" 
            action="is_sous_ensemble_line_action"  
            parent="is_affaire_main_menu" 
            sequence="30"
        />


        <menuitem
            name="Trésorerie"
            id="is_tresorerie_main_menu" 
            parent="is_iecs_main_menu" 
            sequence="20"
        />
        <menuitem
            name="Trésorerie"
            id="is_tresorerie_menu" 
            action="is_tresorerie_action"  
            parent="is_tresorerie_main_menu" 
            sequence="10"
        />


        <menuitem
            name="Tables"
            id="is_table_main_menu" 
            parent="is_iecs_main_menu" 
            sequence="90"
        />
        <menuitem
            name="Matière"
            id="is_matiere_menu" 
            action="is_matiere_action"  
            parent="is_table_main_menu" 
            sequence="10"
        />


    </data>
</odoo>
